html
    body
        h1 GOSQAS Demo Assertions
        a(href="/") Home
        form(action="/assertions" method="POST")
            p Device ID:
            input(type="text" name="deviceid")
            input(type="submit")