{% layout "layout.liquid" %}
{% block %}
    <h1>Sample Devices</h1>
    <div class="text-bg-info col-8">
        <p>
            The GOSQAS Asset Provenance Tracker has stored the secret key for the devices listed on this page.
            This repository of device keys is for demonstration purposes only.
        </p>
    </div>
    <ul>
        {% for device in devices -%}
        <li><a href="/device/{{ device.key }}">{{ device.name }}</a> (<a href="/provenance/{{ device.key }}">View Provenance</a>)</li>
        {%- endfor %}
    </ul>
{% endblock %}