html
  body 
    h1 GOSQAS Demo Devices 
    p 
      span 
        a(href="/") Home
      span
        a(href="/devices/new") Create New Device
    each device in devices
      h2 #{device.description}
      a(href=`/assertions`) List Assertions
      p device key #{device.key} 
