{% layout "layout.liquid" %}
{% block %}
    <h1>GOSQAS Asset Provenance Tracker</h1>
    <div class="text-bg-warning col-6">
        TODO: add readme text explaining the GOSQAS mission and the purpose of this app.</p>
    </div>
{% endblock %}