html
    body
        h1 GOSQAS Demo New Assertion
        a(href="/") Home
        form(action="/assertion/new" method="POST")
            p Device ID/key:
            input(type="text" name="deviceidkey")
            p Assertion:
            input(type="text" name="assertion")
            input(type="submit")