html
    body
        h1 GOSQAS Demo New Assertion
        a(href="/") Home
        p(style={color: 'red'}) #{error}
        form(action="/assertions/new" method="POST")
            p Device ID:
            input(type="text" name="deviceId" value=deviceId)
            p Device Key:
            input(type="text" name="deviceKey")
            p Assertion:
            input(type="text" name="assertion" value=assertion)
            input(type="submit")