{% layout "layout.liquid" %}
{% block %}
    <h1>GOSQAS Asset Provenance Records</h1>
    <div>
    {%- for report in reports %}
        <div>{{ report.description }}</div>
        <div class="mb-1">
        {% for tag in report.tags %}
            <span class="badge bg-info text-dark">{{ tag }}</span>
        {% endfor %}
        </div>
        <div style="font-size: small;">{{ report.createdAt }}</div>
    {% endfor -%}
    </div>
    <hr class="col-1 my-4" >
    <script src="/public/main.js" type="module"></script>
    <div id="app"></div>
{% endblock %}