{% layout "layout.liquid" %}
{% block %}
    <h1>GOSQAS Asset Provenance Records</h1>
    <div>
    {%- for report in reports %}
        <div>{{ report.description }}</div>
        <div class="mb-1">
        {% for tag in report.tags %}
            <span class="badge bg-info text-dark">{{ tag }}</span>
        {% endfor %}
        </div>
        <div style="font-size: small;">{{ report.createdAt }}</div>
    {% endfor -%}
    <div>
    <hr class="col-1 my-4">
    <form method="POST" class="col-6">
        <legend>Create New Provenance Records</legend>
        <div class="text-bg-warning my-2">TODO: tags, images support</div>
        <div class="mb-3">
            <label for="provenance-description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="provenance-description" required>
            <label for="provenance-tags" class="form-label" >Tags</label>
            <input type="text" class="form-control" name="tags" id="provenance-tags" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}