// custom color variables

// @import "bootstrap/scss/_utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

$custom-theme-colors: (
    "iris" : #4e3681,
    "sky" :#E6F6FF,
    "eggplant" : #322253,
    "frost" : #e6f6ff,
    "slate" :#1e2019,
    "white" : #ffffff
);

$font-family-base: 'Poppins', sans-serif;
$font-weight-base: 500;

$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// import bootstrap
@import "bootstrap/scss/bootstrap";


//// Custom styles implementation:

// Apply custom font size to h1 elements
h1 {
    font-size: 48px;
    font-weight: 600;
}

// Apply custom font size to h5 elements
h5 {
    font-size: 20px;
    font-weight: $font-weight-base;
}
* {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: 18px;
}